site_name: My Docs
docs_dir: docs
nav:
  - Home: index.md
  - Vitamind: vitamind/index.md

theme:
  name: material
  favicon: /favicon.svg
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Fira Code
    code: Fira Code
  features:
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - navigation.expand
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - toc.integrate

extra_css:
  - extra.css
