name: Deploy Vitamind

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "github-pages"
  cancel-in-progress: false

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Vitamind dependencies
        run: npm install
        working-directory: vitamind

      - name: Build Vitamind SPA (Production)
        run: npm run build -- --base=/vitamind/ --outDir ../dist/
        working-directory: vitamind
        env:
          VITE_MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}

      - name: Build Vitamind SPA (Staging)
        run: npm run build -- --base=/vitamind/staging/ --outDir ../dist/staging/
        working-directory: vitamind
        env:
          VITE_MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install MkDocs dependencies
        run: pip install mkdocs mkdocs-material

      - name: Build MkDocs Docs
        run: mkdocs build --strict --site-dir dist/docs

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: gh-pages
