name: Deploy Vitamind Docs

on:
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "github-pages-docs"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install MkDocs dependencies
        run: pip install mkdocs mkdocs-material

      - name: Build MkDocs site
        run: mkdocs build --strict --site-dir gh-pages-staging/docs

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages-docs
          path: gh-pages-staging/docs

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: github-pages-docs
          path: gh-pages-staging/docs

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./gh-pages-staging/docs
          destination_dir: docs
          publish_branch: gh-pages
          keep_files: true
